html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.zero-breakpoint-glyph {
  background: #e51400;
  border-radius: 50%;
  width: 8px !important;
  height: 8px !important;
  margin-left: 5px;
  margin-top: 6px;
}

.zero-debug-current-line {
  background-color: rgba(255, 208, 0, 0.15);
}
